@tailwind base;
@tailwind components;
@tailwind utilities;

/* Чтобы не было белых полей вокруг приложения */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #020617;
}